$font-family-sans-serif: 'Maison Neue', sans-serif;
$navbar-padding-y: 0.094rem;
$btn-padding-y: 7 / 16 + rem;
$btn-line-height: 1;
$primary: #ffd37d;
$btn-font-weight: 300;
$btn-font-size: 14 / 16 + rem;

$nav-link-padding-y: 0 !default;
$nav-link-padding-x: 0 !default;

$nav-tabs-border-width: 0 !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-link-active-color: inherit !default;
$nav-tabs-border-color: transparent !default;
